<%- contentFor('body') %>

<script>
function crearMovimiento(idproducto){
    $('#MovimientoModal').modal();
    $('#tipoMovimiento').val(0);
    $('#id').val(idproducto);

    $('#cantidad').val("");

}
function gererarMovimiento(idproducto){
   
    var coef = $('#tipoMovimiento').val();
    var cant = $('#cantidad').val();
    var idproducto = $('#id').val();
    var cantidadMovimiento = parseInt(coef)*parseInt(cant);
    if(coef==0||cant ==""||cant<1 ){
        alert("Debe seleccionar un tipo de movimiento, e ingresar una cantidad valida mayor a cero")
    }else{

        $.ajax({

            url: 'http://localhost:3000/productos/generarMovimiento',
            type: 'POST',
            data: {
                'idproducto': idproducto,
                'cantidad': cantidadMovimiento,

            },
            dataType: 'json',
            success: function (data) {
               
                    alert("Movimiento relizado de forma exitosa.");
                    location.reload(true);
              


                



            },
            error: function (request, error) {
                //alert("Request: "+JSON.stringify(request.responseText)+"  "+error+"  "+request);
                if (typeof  request.responseJSON.error === undefined) {
                alert("Error al genear movimiento de producto");
                }
                else{
                    alert(request.responseJSON.error);
                    location.reload(true);
                }


            }
        });



    }





}
</script>
<style>
        .container {
      
          padding-top: 20px !important;
          padding-right: 0px !important;
          padding-left: 60px !important;
          margin-right: 0px !important;
          margin-left: 0px !important;
          padding-bottom: 0px !important;
      
        }
      
        .dahsboard {
          width: 1600px !important;
      
        }
</style>

<div id="contenedor">

  <p>  <h4>Gestion de Productos</h4></p>
  <table class="table table-striped">
        <% 

        for(var k=0; k < productosStock.length; k++){
          var idproducto =productosStock[k].id;
          var descProducto = productosStock[k].nombre;
          var cantidad=productosStock[k].cantDisp;
          console.log(productosStock[k].cantDisp);
          var pendientes = 0;
        %>
              
                    <tr>
                        <td style="width: 900px;" colspan="2"><b>Producto: </b><%=descProducto %><br>
                          <b>Codigo de origen :</b> <%=productosStock[k].codOrigen %><br>
                            <b>N° Serie:</b> <%=productosStock[k].nSerie %> 
                        </td>
                        

                        
                        
                        
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary  btn-lg"  aria-haspopup="true" aria-expanded="false">
                                    Stock <span class="badge badge-light"><%=productosStock[k].cantDisp %></span>
                                    <span class="sr-only"></span>
                                  </button>
                              </div>
                          
                        </td>
                        <td><button type="button" class="btn btn-secondary" onclick="javascritp:crearMovimiento(<%=productosStock[k].codbar%>);">Generar Movimiento</button></td>
                    </tr>
          <%
        }
        %>
</table>
</div>

<div class="modal fade" id="MovimientoModal" tabindex="-1" role="dialog" aria-labelledby="MovimientoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="MovimientoModalLabel">Crear Movimiento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                    <input type="hidden" class="form-control" id="id" >
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Tipo:</label>
                  <select id="tipoMovimiento">
                      <option value="0">Seleccione un tipo de movimiento</option>
                      <option value="-1">Egreso</option>
                      <option value="1">Ingreso</option>
                  </select>
                </div>
                <div class="form-group">
                        <label for="recipient-name" class="col-form-label">cantidad:</label>
                        <input type="number" class="form-control" id="cantidad">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-primary" onclick="gererarMovimiento();">Generar Movimiento</button>
              
              
            </div>
          </div>
        </div>
      </div>

