
<%- contentFor('body') %>
<% if(Rol.length==1 && Rol[0].rol==4 ){ %>
  <h5  > Panel Administrador de ELAISS</h5>
 <% }else{ %>
<link type="text/css" rel="stylesheet" href="/stylesheets/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/jsgrid-theme.min.css" />
    
<script type="text/javascript" src="/javascripts/jsgrid/jsgrid.min.js"></script>
<script>
  var idEntrega;
  
  var grilla = {
    div : "",
    ancho : "",
    alto:"",


    crear :function (divP,ancho,alto,editar,borrar,insertar,actualizar){

        div   = divP;
        ancho = "900";
        alto  = "1200";

 

    },
    popular :popularBeneficiarios,
    llenarGrilla : ejecutarLlenadoGrilla

    }

    function entregoOk(data){
      if(!data.err){
        $('#retiroModal').modal('hide');
        window.location.href = "/";
        //location.reload(true); 
      }else{
        alert(data.err);
      }
        
    }

    function Entregar(){



      //alert(idEntrega);
      $.ajax({
              url : '/home/Entregar/?id='+idEntrega,
              type : 'GET',
             // dataType:'json',
              success : entregoOk,
              error : function(request,error)
              {
                  alert("Request: "+JSON.stringify(error));
              }
        });
    }
    function popularBeneficiarios(idEntrega){
        $.ajax({
        
        url : '/home/autorizadosById/?id='+idEntrega,
        type : 'GET',
        data : {
            'numberOfWords' : 10
        },
        dataType:'json',
        success : ejecutarLlenadoGrilla,
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
        });

    }

    function ejecutarLlenadoGrilla(data)
    {
        this.ancho = "900";
        this.alto  = "300";

        $('#idOrden').html(data.orden[0].idOrden);
        $('#descripcionOrden').html(data.orden[0].descripcion);
        $('#descripcionBenenficiarios').html(data.orden[0].beneficiario.nombre +" "+data.orden[0].beneficiario.apellido);
        $('#descripcionDocumento').html(data.orden[0].beneficiario.dni);
        $('#BenenficiarioTelefono').html(data.orden[0].beneficiario.telefono);
        $('#descripcionProducto').html(data.orden[0].productoEntrga[0].nombre);
        $('#codBar').html(data.orden[0].productoEntrga[0].codbar);
        $('#cantidadDisponible').html(data.orden[0].productoEntrga[0] .cantDisp);
        $('#cantidadRetiro').html(data.orden[0].cantidad);
        idEntrega = data.orden[0].idEntrega;


        if(data.orden[0].entregaEstado=='P'){
          $('#estadoEntrega').html('PENDIENTE');
          $("#buttonEntregar").attr("disabled", false);
        }else {
          $("#buttonEntregar").attr("disabled", true);
          $('#estadoEntrega').html('ENTREGADO');
        }






        $(div).jsGrid({
            width: this.ancho,
            height: this.alto,
            autoload: true,
            pageLoading: true,
            //inserting: true,
            //rowDoubleClick: editar,
            sorting: true,
            paging: true,
            selecting: true,
            editing: false,
           // updatedItem:actualizar,

          
           // deleteItem: borrar,
            //onItemInserting:insertar,
            //onItemUpdating: actualizar,
            data: data.autorizados ,
            controller: {
                loadData: function(filter) {
                    var startIndex = (filter.pageIndex - 1) * filter.pageSize;
                    return ;
                }
            } ,
            fields: [
                { name: "id", title:"Id" , visible:false, type: "number", width: 5, validate: "required" },
                { name: "nombre", title:"Nombre" , type: "text", width: 45, validate: {
                    validator: "rangeLength",
                    message: function(value, item) {
                            return "El largo del campo Nombre debe ser entre 1 y 45";
                        },
                        param: [1, 45]
                    }
                 },
                { name: "apellido", title: "Apellido" ,type: "text", width: 45, 
                validate: {
                    validator: "rangeLength",
                        message: function(value, item) {
                            return "El largo del campo Apellido debe ser entre 1 y 45";
                        },
                        param: [1, 45]
                    }
                },
                { name: "dni",title:"DNI" ,type: "text", width: 30, 
                validate: {
                    validator: "rangeLength",
                    message: function(value, item) {
                        return "El largo del campo DNI debe ser 8 digitos";
                    },
                    param: [7, 9]
                }
                },
                { name: "telefono", title:"Telefono", type: "number", width: 30 },
                { name: "usuario",visible:false,title:"Usuario", type: "text", width: 50, validate: "required" },
                { name: "fh_alta",title:"Fecha Alta" ,visible:false ,type: "text", width: 50, validate: "required" },
                { name: "fh_baja", visible:false, type: "text", width: 150}//,
                //{ name: "id", title:"Acciones",  align :"right",type: "text", width: 80,
                
               // itemTemplate: function(value) {
                    //return $("<div>").addClass("rating").append(Array(value + 1).join("&#9733;"));
                   //     return $("<button type='button' onclick=javascript:verAutorizados('"+value+"')>Ver Autorizados</button>").addClass("btn btn-primary");
               // }
                //  },

                //{ type: "control",editButton: true}
            ]
        });


    }
    

    function verEntrega(idEntrega){
        //alert("editar");
        grilla.crear("#jsGridAutorizados","900","1200",null,null,null,null);
        grilla.popular(idEntrega);
        $('#retiroModal').modal();
    }
</script>
<style>
.container{

  padding-top: 20px!important;
  padding-right: 0px!important;
  padding-left: 60px!important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-bottom: 0px !important;

}

.dahsboard{
  width: 1600px!important;
 
}

</style>
<div class="container" >

  <table class="dahsboard" >

    <tr>
      <td>

        </td>
      <td>
          <div class="col-md border bg-light">
              Retiros de la fecha</div>
      </td>
      <!--
      <td>
          <div class="col-md border bg-light">
              Notificaciones Manuales</div>
      </td>
      <td>         
         <div class="col-md border bg-light">
          Nivel de Stock</div>
      </td>
    -->
    </tr>
    <tr>
        <td style="width: 300px;vertical-align: top" >
          <table >
            <tr>
              <td style="width: 500px">
                 
                  <div class="card border-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header text-center"><b>Pendientes de Retiros</b></div>
                      <div class="card-body text-primary">
                         <% 
                         var pendientes = 0;
                         for(var i=0; i < retiroDia.length; i++) {
                          if(retiroDia[i].entregaEstado =='Pendiente'){
                            pendientes++; 
                          }
                          }
                          
                          %>



                        <h5 class="card-title"><h1 class="display-1 text-center"><%=pendientes%></h1></h5>
                        <p class="card-text text-center" ><strong><%
                          var f = new Date();
                          var fecha = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
                          %><%=fecha%></strong></p>
                      </div>
                    
                  </div>
              </td>
            </tr>
            <tr>
                <td style="width: 500px">
                   
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center"><b>Productos</b></div>
                        <div class="card-body text-primary">
                         <!--
                         <%= JSON.stringify(productosStock)%>
                         <%= JSON.stringify(retiroDia)%>
                         -->
                          <% 

                          for(var k=0; k < productosStock.length; k++){
                            var idproducto =productosStock[k].id;
                            var descProducto = productosStock[k].nombre;
                            var cantidad=productosStock[k].cantDisp;
                            console.log(productosStock[k].cantDisp);
                            var pendientes = 0;
                            for(var i=0; i < retiroDia.length; i++) {
                              if(retiroDia[i].idproducto ==idproducto){
                                
                                cantidad=cantidad - retiroDia[i].cantidadEntrgar;
                                console.log(cantidad);
                              }


                            }
                            var background = "success";
                            if(cantidad<1){
                                background="danger";
                               }
                     
                              %>
                              <div class="p-1 mb-2 bg-<%=background%> text-white"><%=descProducto %><br> - Stock: <%=productosStock[k].cantDisp %> <br> - Disponible: <%=cantidad%><br> - Reservadas para hoy: <%=productosStock[k].cantDisp-cantidad%></div>
                            <%
                           

                          }
                            
                 

                            %>
  
  
  
                          <h5 class="card-title"><h1 class="display-1 text-center"></h1></h5>
       <!--                   <p class="card-text text-center" ><strong><%
                            var f = new Date();
                            var fecha = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
                            %><%=fecha%></strong></p>-->
                        </div>
                      
                    </div>
                </td>
              </tr>            
          </table>
        </td>
        <td style="vertical-align: top;"  >
          <% 
          for(var i=0; i < retiroDia.length; i++) { %>
            
              <div class="alert alert-secondary" role="alert">

                <table>
                  <tr>
                      <td style="width: 800px">
                          <h5>Beneficiario <br>
                           <b> Nombre y Apellido:</b> <%= retiroDia[i].beneficiario.nombre %> <%= retiroDia[i].beneficiario.apellido %>  <b>Telefono:</b> <%= retiroDia[i].beneficiario.telefono %> <b>DNI:</b> <%=retiroDia[i].beneficiario.dni %>  <br>
                            <b>Producto:</b> <%=retiroDia[i].productoNombre %> <b>Cantidad:</b> <%= retiroDia[i].cantidadEntrgar %> 

                           <!-- Tratamiento: <%=retiroDia[i].descripcion %>  <br>-->
                            
                      </td>
                      <td style="vertical-align: top;padding-left:30%">
                        <button type="button" class="btn btn-info" onclick="javascript:verEntrega(<%= retiroDia[i].idEntrega%>)" style="height: 70px;width: 100px;">Ver detalle</button>
                            
                      </td>
                  </tr>
                </table>
                  


              </div>  

           <% }  %>

        </td>

      </tr>



  </table>

          
          

            
</div>

<script>
  /*
$(document).ready(function() {  
  $.ajax({
          url : 'http://localhost:3000/usuarios/all',
          type : 'GET',
          data : {
              'numberOfWords' : 10
          },
          dataType:'json',
          success : bindData,
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
        });
});*/
</script>



<div class="modal fade" id="retiroModal" tabindex="-1" role="dialog" aria-labelledby="RolesModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RolesModalLabel">Detalle de Entrega</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div>
          <table class="table">
            
              
            
            <tbody>
                <tr>
                  <th scope="row">Numero Orden</th>
                  <td><div id="idOrden"></div></td>
                  <th scope="row">Observacion</th>
                  <td ><div id="descripcionOrden"></div></td> 
                  <th scope="row">Estado</th>
                  <td colspan="4"><div id="estadoEntrega"></div></td>                   
                                           
                </tr>
                <tr>
                  
                    <th scope="row">Beneficiario</th>
                    <td><div id="descripcionBenenficiarios"></div></td>          
                    <th scope="row">Documento</th>
                    <td><div id="descripcionDocumento"></div></td>      
                    <th scope="row">Telefono</th>
                    <td colspan="4"><div id="BenenficiarioTelefono"></div></td>                                             
                  </tr>                
                <tr>

                    <th scope="row">Producto</th>
                    <td><div id="descripcionProducto"></div></td> 
                    <th scope="row">codBar</th>
                    <td><div id="codBar"></div></td>
                    <!--
                    <th scope="row">Catidad Disponible</th>
                    <td colspan="4"><div id="cantidadDisponible"></div></td>      -->
                    <th scope="row">Catidad Retiro</th>
                    <td colspan="4"><div id="cantidadRetiro"></div></td>     
                                           
                  </tr>                
            </tbody>
          </table>
        </div>  
        <div class="form-group">
        <label for="recipient-name" class="col-form-label">Autorizados</label>
        <div id="jsGridAutorizados" ></div>

                    

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" id="buttonEntregar" class="btn btn-primary" onclick="javascript:Entregar();">Realizar Entrega</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>